.nav-link{
    transition: all 0.2s;
    position: relative;
}


.nav-link::after{
    content: '';
    opacity: 0;
    transition: all 0.5s;
    height: 2px;
    width: 100%;
    background-color: forestgreen;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after{
    opacity: 1;
}
.nav-item{
    margin-left:10px;
}
.nav-item-1{
    margin-left: 1000px;
}

.img-fluid{
    width: 50px;
    border-radius: 50%;
}

.txt{
    text-align: center;
}