.nav-link{
    transition: all 0.2s;
    position: relative;
}


.nav-link::after{
    content: '';
    opacity: 0;
    transition: all 0.5s;
    height: 2px;
    width: 100%;
    background-color: orange;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after{
    opacity: 1;
}

.nav-item-1{
    margin-left: 1100px;
}