.nav-link{
    transition: all 0.2s;
    position: relative;
}


.nav-link::after{
    content: '';
    opacity: 0;
    transition: all 0.5s;
    height: 2px;
    width: 100%;
    background-color: pink;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after{
    opacity: 1;
}
.nav-item{
    margin-left:10px;
}
.nav-item-1{
    margin-left: 1000px;
}

/* Styles pour la section principale */
.jumbotron {
    padding: 5rem 2rem;
    text-align: center;
    border-radius: 0;
    margin-bottom: 0;
}

.jumbotron h1 {
    font-size: 4rem;
    font-weight: bold;
}

.jumbotron p {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Styles pour les cartes de services */
.card {
    border-radius: 10%;
}

.card-title {
    font-size: 1.5rem;
}

.card-text {
    font-size: 1.2rem;
}

.btn-orange {
    background-color: cadetblue;
    color: white;
    border: none;
}

.text-orange {
    color: orange;
}

.bg-orange {
    background: linear-gradient(120deg,cadetblue , blueviolet);
    color: white;
}

.bg-darkslateblue {
    background-color: #483d8b;
    color: white;
}
.img-fluid{
    width: 50px;
    border-radius: 50%;
}
.cp{
    text-align: center;
}
.title{
   text-decoration-color: #CCCCFF;
}
.footer{
    background-color: black;
}
