.nav-link{
    transition: all 0.2s;
    position: relative;
}


.nav-link::after{
    content: '';
    opacity: 0;
    transition: all 0.5s;
    height: 2px;
    width: 100%;
    background-color: lightseagreen;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after{
    opacity: 1;
}
.nav-item{
    margin-left:10px;
}
.nav-item-1{
    margin-left: 1000px;
}
.img-fluid{
    width: 50px;
    border-radius: 50%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.team .member{
    position: relative;
    padding: 30px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);

    background: #ffffff;
}
.team .member .teampic{
    overflow: hidden;
    width: 130px;
}
.team .member .member-info{
    padding-left: 30px;
}
.team .member h4{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: darkslategrey;
}
.team .member span{
    display:block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}
.team .member span::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: black;
    bottom: 0;
    left: 0;
}
.team .member{
    margin: 10px 0 0 0;
    font-size: 14px;
}
.team .member .social{
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.team .member .social a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: lightgray;
}
.team .member .social a i{
    color: palevioletred;
    font-size: 16px;
    margin: 0 2px;
}
.team .member .social a:hover{
    background: lightblue;
}
.section-title h2{
    text-align: center;
    color: orange ;
}
.section-title p{
    text-align: center;
    text-decoration: underline;
}